# Ignore mod build outputs
LegacyoftheAbyss.dll
LegacyoftheAbyss.pdb
*.editorconfig
*.cache
DummyDLLs/
net472/
Assets/logs/*
!Assets/logs/.gitkeep
*.AssemblyInfo.cs
*.GlobalUsings.g.cs
*.CoreCompileInputs.cache
obj/Release/LegacyoftheAbyss.csproj.CoreCompileInputs.cache
obj/LegacyoftheAbyss.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/Release/LegacyoftheAbyss.assets.cache
obj/Release/LegacyoftheAbyss.csproj.AssemblyReference.cache
obj/Release/LegacyoftheAbyss.GeneratedMSBuildEditorConfig.editorconfig
